@import "../../../../styles";

.seo-header{
  padding: 8px 0;
  box-shadow: 0 1px 4px 4px #d9d9d9;
  margin-bottom: 4px;
  .header-wrapper{
    @include setWidth(94%);
    @include flex-box(null, space-between, center, null);

    .back{
      @include icon(25px,25px,'../../../../assets/seo/seoIcon.png', left);
    }

    h2{
      @include font(14px,#000,bold);
    }

    .home{
      @include icon(25px,25px,'../../../../assets/seo/seoIcon.png');
    }
  }
}
