@import "../../../../styles";
.hq-alert{
  position: fixed;
  width: 80%;
  max-width: 1200px;
  top: 100px;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding-top: 20px;
  border-radius: 10px;
  pointer-events:none;
  opacity: 0;
  z-index: 1;
  background-color: #fff;
  @include transit(opacity);
  .hq-alert-wrapper{
    @include setWidth(90%);
    .hq-alert-title{
      @include font(18px,#000);
      text-align: center;
    }
  }

  .btns{
    display: flex;
    height:40px;
    line-height: 40px;
    cursor: pointer;
    span{
      display: block;
      width: 50%;
      text-align: center;
      @include transit();
      &:first-of-type{
        border-top: 1px solid #ccc;
        &:hover{background-color: #28abe3;color: #fff;}
      }
      &:last-of-type{
        color: #fff;
        background-color: #28abe3;
        border-bottom-right-radius:10px;
      }
    }
  }
}

.hq-alert.active{
  pointer-events:auto;
  opacity: 1;
}
