<div id="reset-pass" class="center">
  <app-form-template [title]="'重设密码'" [changeLoginMethod]="'又想起来了？'" [changeLoginUrl]="'/login-pass'" [routerParmas]="{loginTo: targetPageType, from: source_path}">
    <form [formGroup]="formModel" (submit)="onSubmit($event)">
      <div class="input">
        <div class="phone-belong">
          手机号归属地
          <span>中国</span>
        </div>
        <div class="phone">
          <hq-input [hqAutoFocus]="true" formControlName="username" [hqError]="formModel.get('username').dirty && formModel.get('username').invalid" [hqErrorMsg]="'电话格式不正确'" [hqPlaceHolder]="'请输入手机号'"></hq-input>
          <span (click)="getCode()" [style.bottom]="formModel.get('username').dirty && formModel.get('username').invalid ? '43px' : '16px'" *ngIf="codeStatus" [class.disabled]="codeBtnStatus.disabled">{{codeBtnStatus.label}}</span>
        </div>
        <app-code-control formControlName="code" *ngIf="!codeStatus"></app-code-control>

        <!--重设密码-->
        <div class="newPass" formGroupName="newPass" *ngIf="!codeStatus">
          <hq-input [hqPlaceHolder]="'请输入新密码'" formControlName="pwd1" [hqType]="'password'" [hqError]="formModel.hasError('pass', ['newPass', 'pwd1'])" [hqErrorMsg]="formModel.getError('pass', ['newPass', 'pwd1'])?.errorMsg"></hq-input>
          <hq-input [hqPlaceHolder]="'请输入新密码'" formControlName="pwd2" [hqType]="'password'" [hqError]="formModel.hasError('pass', ['newPass', 'pwd2'])" [hqErrorMsg]="formModel.getError('pass', ['newPass', 'pwd2'])?.errorMsg"></hq-input>
          <span>{{formModel.getError('passRroup', 'newPass')?.errorMsg}}</span>
        </div>
      </div>
      <hq-button>重设密码</hq-button>
    </form>
  </app-form-template>
</div>


<!--加载中-->
<hq-spin [hqShow]="showLoading"></hq-spin>
