@import "../../../../styles";

.hq-bread-crumb{
  @include flex-box(null, null, center, null);

  .hq-bread-crumb-item{
    cursor: pointer;
    span{
      @include transit(color);
      @include font(12px,#000);
      @media screen and (min-width:414px){
        font-size: 14px;
      }
    }

    &:hover{
      span{
        color: #108ee9;
      }
    }
  }
}
