<div id="activity" class="center">
  <div class="bg">
    <img src="../../../assets/activity/bg.jpg" alt="C30下单即免" />
  </div>

  <div class="info">
    <div class="info-wrap">
      <div class="summary">
        <h2>里程免费政策</h2>
        <p>1000英里里程免费政策：Cruise America于近期内增加部分站点的C30型号车辆数。为顺利度过旺季，现为客户推出这项优惠活动。</p>
      </div>

      <div class="detail">
        <div class="time">
          <h3>活动时间</h3>
          <div>
            <div class="text-item">
              <i></i>
              <p>2018年6月</p>
            </div>
          </div>
        </div>

        <div class="poi">
          <h3>活动站点</h3>
          <div>
            <div class="text-item">
              <i></i>
              <p>旧金山、洛杉矶、圣地亚哥、拉斯维加斯、凤凰城、丹佛、波斯顿北、波士顿南、波士顿-北、莱克海瓦萨、纽约</p>
            </div>
          </div>
        </div>

        <div class="info-detail">
          <h3>活动内容</h3>
          <div>
            <div class="text-item">
              <i></i>
              <p>前1000英里的里程内里程费免费。如果计划更多的里程，我们有三个收费里程套包可供选择。</p>
            </div>
          </div>
        </div>


        <div class="package">
          <h3>Cruise America里程包 </h3>
          <div>
            <div class="text-item">
              <i></i>
              <p>1. 无限里程包（不限里程数）750美金</p>
            </div>
            <div class="text-item">
              <i></i>
              <p>2. 500英里里程包：140美金</p>
            </div>
            <div class="text-item">
              <i></i>
              <p>3. 100英里里程包：28美金</p>
            </div>
          </div>
        </div>


        <div class="tip">
          <span>提示</span>
          <p>如果归还车辆时，旅途中所用的里程数超过之前购买的里程包中包含的数量，则按照0.35美金/英里收费。</p>
        </div>
      </div>

      <div class="return">
        <hq-button routerLink="/main">返回首页</hq-button>
      </div>
    </div>
  </div>
</div>
