@import "../../../../styles";
#calendar{
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 120%;
  overflow-y: hidden;
  @include transit(top);
  z-index: 1;

  .wrapper{
    margin-bottom: 20px;
    .title{
      padding: 20px 0;
      position: relative;
      border-bottom: 1px solid #ccc;
      img{
        display: block;
        width: 15px;
        position: absolute;
        top:25px;
        left: 20px;
      }
      h5{
        @include font(16px, #666, bold);
        text-align: center;
        @media screen and (min-width){
          font-size: 20px;
        }
      }
    }

    .date-info{
      margin: 20px 0;
      @include flex-box(null, space-around, center, null);

      .beginDate{
        width: 20%;
        text-align: right;
        >div{
          @include font(14px, #000, bold);

          @media screen and (min-width){
            font-size: 20px;
          }
        }
      }
      .days{
        color: #ccc;
        font-weight: bold;
        width: 10%;
        padding-top: 5px;
        text-align: center;
      }
      .endDate{
        @extend .beginDate;
        text-align: left;
      }
    }

    .week{
      padding-bottom: 5px;
      border-bottom: 1px solid #ccc;
      ul{
        display: flex;
        display: -webkit-flex;
        li{
          width: 14.28%;
          text-align: center;
          color: #000;
          font-weight: bold;
        }
      }
    }
  }


  .day-list-box{
    height:350px;
    position: relative;
    overflow-y: auto;

    .day-item{
      position: relative;
      height: 296px;
      width: 100%;
      margin-bottom: 15px;

      .month-bg{
       @include flex-box(null, center, center, null);
        height:100%;
        @include font(60px, #e6e6e6, bold);
      }

      ul{
        position: absolute;
        top:0;
        width: 100%;
        height:100%;
        @include flex-box(null, null, null, wrap);
        li{
          position: relative;
          @include flex-box(null, center, center, null);
          width: 14.28%;
          cursor: pointer;
          height:45.6px;
          @media screen and (min-width: 480px){
            height:59px;
          }
          span{
            display: block;
            position: relative;
            width: 45.6px;
            height:100%;
            line-height: 45.6px;
            border-radius: 50%;
            text-align: center;
            color: #000;
            font-weight: bold;
            @include transit();
            @media screen and (min-width: 480px){
              width: 59px;
              line-height: 59px;
            }
          }

          &:before{
            display: block;
            content: "";
            position: absolute;
            background-color: transparent;
            height: inherit;
            width: 50%;
          }
        }
        li.through{
          background-color: #aedaf2;
        }
        li.disabled span{
          color: #b3b3b3;
        }
        li.active{
          span{
            color: #fff;
            background-color: #249adc;
          }
        }
        li.begin {
          &:before {
            background-color:#aedaf2;
            right: 0;
          }
        }
          li.end{
            &:before{
              background-color:#aedaf2;
              left: 0;
            }
          span{
            color: #fff;
            background-color: #249adc;
          }
        }
      }

      &:last-of-type{
        margin-bottom: 60px;
      }
    }
  }
  hq-button{
    display: block;
    width: 70%;
    position: fixed;
    bottom: 10px;
    left: 50%;
    margin-left: -35%;
    @include font(20px, #fff);
    background-color: #249adc;
    border-radius: 5px;
  }
}
