@import "../../../styles";
.select-date{
  margin-top: 20px;
  @include flex-box(null,space-between,null,null);
  .beginDate{
    width: 38.2%;
    border-bottom: 1px solid #999;
    .selectedDate{
      >div{
        @include flex-box(null,space-between,null,null);
      }

      .time{
        span{
          display: block;
          @include font(12px,#000,700);
          margin: 15px 0;
        }
      }
    }
  }

  .endDate{
    @extend .beginDate;
  }
}
