.hq-spin-wrapper{
  width: 46px;
  position: fixed;
  left: 50%;
  top:50%;
  margin-left: -23px;
  z-index: 1;

  .hq-spin {
    position: relative;
    background: #28abe3;
    margin: 20px auto;
    -webkit-animation: hq-spin 1s ease-in-out infinite;
    animation: hq-spin 1s ease-in-out infinite;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    width: 5px;
    height: 15px;

  }

  .hq-spin:after,
  .hq-spin:before {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background: inherit;
    -webkit-animation: inherit;
    animation: inherit;
  }

  .hq-spin:before {
    right: 12px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }

  .hq-spin:after {
    left: 12px;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }

  @-webkit-keyframes hq-spin {
    0%,
    100% {
      box-shadow: 0 0 0 #28abe3, 0 0 0 #28abe3;
    }
    50% {
      box-shadow: 0 -8px 0 #28abe3, 0 8px 0 #28abe3;
    }
  }

  @keyframes hq-spin {
    0%,
    100% {
      box-shadow: 0 0 0 #28abe3, 0 0 0 #28abe3;
    }
    50% {
      box-shadow: 0 -4px 0 #28abe3, 0 4px 0 #28abe3;
    }
  }


  .hq-txt{
    color: #fff;
  }
}
